/*tipography*/

h1{
  font-size:6em;
  font-weight: bold;
  text-align:center;


}

h3{
	text-align: center;

}
.singleQuestion h4{
  font-size:4em;
  font-weight: bold;


}

label h5{
  font-size:2em;
  font-weight:bold;

}

.row{
	margin: 0;
}
/*++++++++++++++++++++++++++++++++question style++++++++++++++++++++++++++++*/

/**structure*/
.singleQuestion{
  text-align:center;

}

/*How big is the room*/
.x , .y{
  min-height: 3em;
  font-size: 3em;
  text-align: center;


}

#goSecond, #goThird,#goForth, #goPlay,#playAgain{
  min-height: 2em;
  font-size: 3em;
  font-weight: bold;
  margin-top: 1%;
}
/*errors msg*/
.errorMsg, .errorMsg1,.errorMsgNullSize, .errorMsgSmallRoom{

	color:rgb(255, 42, 42);
	display:none;
	font-size:2em;
	font-weight:bold;
	margin:tio:1em;

}

input.error{
  border-color:rgb(255, 42, 42);
  border-width: 3px;

}
/*Second step*/
#SecondStep{
	display:none;

}
#Robot{
	display:none;

}


/*Give me directions*/
.fourthScreen{
		display:none;
		clear: both;

}

#btns3,#btns5{
	display:none;

}
#backThird{

	margin-left:-1em;
}

.direction{
	min-height: 3em;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;


}


/*last step*/
.afterClean{
	display:none;


}
.allClean{
	color:green;
	display:none;
	font-weight: bold;
	font-size:3em;

}

.notClean{
	color:red;
	display:none;
	font-size:3em;



}
/*++++++++++++++++++++++++++++++++room style++++++++++++++++++++++++++++*/
/*robot*/

#myRoom {

  border: 1px solid black;
  width:200px;
  height:300px;


}
#roomPlace table{

  width:100%;
	min-height:30em;

}

td{
  padding: 0;
  border: 1px solid black;
  width: 30px;
  /*height: 130px;*/

}





.dirtyPatches{

   width: 100%;
  height:auto;
  background-image: url('../img/dirty.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;



}

.robotPosition {
  /*background-color:green;*/
  /*border-radius:50%;*/
  width: 100%;
  height:auto;
	background-image: url('../img/robot.svg');
	background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;


}
.dirtyPatchesCursor{

	cursor: url(../img/dirty.png), url(../img/dirty.cur),auto;


}

.RobotCursor{

	cursor: url(../img/robot.png),  url(../img/robot.cur),auto;


}


/*Media query*/

@media screen and (max-width: 480px) {
  body {
    font-size: 50%;
  }

  .col-xs-5 {
    padding: 5%;
  }

  .col-xs-12 {
    padding: 3%;
  }
}
